.forCenter
{    
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  flex-direction: column; 
  background-color: #baffc2;
  max-width: 700px;
  width: auto;
  height: auto;
  margin-left: 20px;
  margin-top: 20px;
}
.itemInRow {
  background-color: inherit;
  color: red;
  margin: 15px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  float: left;
  border: red dashed 2px;
}

.textinput {
  max-width: 240px;
  width: 45%;
  text-indent: 10px;
  height: 30px;
}

.selectinput {
  max-width: 100px;
  min-width: 90px;
  min-height: 35px;
  text-indent: 10px;
}

.buttonItem
{
  width: 40%;
  width: 215px;
  height: 45px;
}

.resultArea
{
  max-width: 600px;
  text-align: left;
  width: 90%;
  height: 100px;
  margin-bottom: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

p
{
  margin: 3px 0 0 15px;
}