.background {
    background-color: rgb(186, 255, 194);
    border-radius: 10px;
    width: 80%;
    max-width: 630px;
    height: auto;
    padding: 5px;
}

.defaultContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.defaultStyle {
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    border: red dashed 1px;
    font-size: 20px;
    color: red;
    background: transparent;
}

.valueInput {   
    width: 250px;
    height: 35px;
}

.operationSelect {
    width: 70px;
    height: 35px;
}

.textArea {
    width: 100%;
    height: 50px;
    resize: none;
    padding: 2%;
    background: transparent;
    border: none;
    font-size: 20px;
    color: red;
}

.buttonItem {
    width: 200px;
    height: 40px;
}

.previousResultStyle {
    opacity: 0.5;
}