.main-container {
    background-color: rgb(186, 255, 194);
    border-radius: 10px;
    max-width: 630px;
}

.main-container__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-container__element {
    margin: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    border: red dashed 1px;
    font-size: 20px;
    color: red;
    background: transparent;
    overflow: hidden;
}

.main-container__element_wide{
    flex: 0 1 100%;
}

.input {   
    width: 250px;
    height: 35px;
}

.select {
    width: 70px;
    height: 35px;
}

.button {
    width: 200px;
    height: 40px;
}

.result {
    width: 100%;
    height: 30px;
    resize: none;
    background: transparent;
    border: none;
    font-size: 20px;
    color: red;
}

.previous-result {
    opacity: 0.5;
}