.main_box {
    background-color: rgb(186, 255, 194);
    border-radius: 12px;
    padding: 15px;
    width: 600px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} 

.input_box {
    width: 100%;
    height: 18%;
    margin-bottom: 6%;
}

input {
    background-color: transparent;
    color:#e75742;
    border-color: #e75742;
    border-width: 2px;
    border-style: dashed;
    border-radius: 12px;
    width: 245px;
    height: 45px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
    padding: 15px;
}

select {
    background-color: transparent;
    border-color: #e75742;
    color: #e75742;
    border-width: 2px;
    border-style: dashed;
    border-radius: 12px;
    width: 62px;
    height: 97%;
    margin-right: 3.32%;
    margin-left: 3.32%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
    padding: 5px;
}

.calculate_button {
    width: 200px;
    height: 45px;
    margin-left: 33.5%;
    margin-left: 33.5%;
    margin-bottom: 5%;
    background-color: transparent;
    color: #e75742;
    border-color: #e75742;
    border-width: 2px;
    border-style: dashed;
    border-radius: 12px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
    justify-content: space-around;
}

.result_area {
    background-color: transparent;
    border-color: #e75742;
    color: #e75742;
    border-width: 2px;
    border-style: dashed;
    border-radius: 12px;
    width: 92.5%;
    height: 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

option {
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
}

var#memory {
    color: rgb(209, 166, 126)
}

@media screen and (max-width: 684px) {
    .main_box {
        width: 240px;
        height: 300px;
    }
    .input_box {
        width: 100%;
        height: 50%;
        margin-bottom: 6%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;  
        align-items: center;
    }
    select {
        margin-bottom: 5%;
        margin-top: 7%;
        
    }
    .calculate_button {
        margin-left: auto;
        margin-right: auto;
    }
    .result_area {
        width: 82%;
    }
}