.form{
    width: 100%;
    max-width: 600px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    background-color: #BAFFC2;
}

.inputs {
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-direction: row;
    background-color: inherit;
}

.dot_red_border{
    border-radius: 10px;
    border-color: red;
    border-style: dotted;
    border-width: 2px;
    color: red;
}

.input{
    width: 20%;
    margin:10px;
    height: 20px;
    background-color: inherit;
}

.operator {
    width: 20%;
    margin: 10px;
    height: 26px;
    background-color: inherit;
}

.button {
    margin-top: 20px;
    height: 30px;
    width: 40%;
    font-size: 15px;
    font-weight: bold;
    background-color: inherit;
    border-radius: 10px;
}

.result {
    width: 70%;
    margin-top: 10px;
    height: 200px;
    display: flex; 
    flex-direction: column;
    overflow-y: auto; 
}


@media (max-width: 500px) {
    .form {
        width: 100%;
        flex-direction: column;
    }

    .inputs {
        flex-direction: column;
    }
    .input {
        width: 60%;
    }
}

.result::-webkit-scrollbar {
    width: 0px; 
    right: 0; 
    top: 0; 
    bottom: 0; 
}  
