.numberInput{
    margin: 20px;
    width: 200px;
    height: 40px;
    background-color:aquamarine;
    font-size: 20pt;
    float:left;
}

.operationInput{
    margin: 20px;
    width: 60px;
    height: 40px;
    background-color: bisque;
    font-size: 20pt;
    float:left;
}

.button{
    width: 200px;
    height: 40px;
    font-size: 20pt;
    float:left;
}

.inputsContainer{
    width: 600px;
}

.textareaInput{
    width: 100%;
    height: 100px;
}

.buttonContainer{
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clearfix{
    zoom:1;
}

.clearfix:before,
.clearfix:after{
    content:"";
    display: table;
}

.clearfix:after{
    clear: both;
}