.calculator {
    background-color: rgb(186,255,194);
    max-width: 540px;
    border-radius:10pt;
}

.row {
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

input {
    height: 35;
    width: 40%;
    margin: 10px;

    padding:10px;
    font-size:17;

    color: red;
    font-size: 17;
    font-weight: bold;

    background-color: inherit;
    border-radius: 10px;
    border-width: 1;
    border-style: dashed;
    border-color: rgb(243,43,32);
}

select {
    min-width: 50px;
    width: 15%;
    height: 35;
    margin: 10px;

    text-indent: 15%;
    color: red;
    font-size: 17;

    background-color: inherit;
    border-radius: 10px;
    border-style: dashed;
    border-color: rgb(243,43,32);
}

button {
    min-height: 35;
    width: 30%;

    padding-left:20px;
    padding-right: 20px;
    padding: 5px;

    color: red;
    font-size: 17;
    font-weight:bold;
    word-wrap: break-word;

    background-color: transparent;
    border-radius: 10px;
    border-width: 1;
    border-style: dashed;
    border-color: rgb(243,43,32);
}

.output
{
    width: 100%;
    margin:2%;
    padding: 10px;

    background-color: transparent;
    border-radius: 10px;
    border-width: 1;
    border-style: dashed;
    border-color: rgb(243,43,32);
}

textarea {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    resize: none;
    overflow-y: auto;

    font-size:17;

    color: red;
    font-size: 17;
    font-weight: bold;
    text-align: left;
    
    width: 100%;
    height: 30;
}

.history {
    color: rgb(217,138,104);
}